
.section{
    text-align: center;
}
.text-box{
    width: 333px;
    height: 50px;
    text-align: center;
}
.heading{
    font-size: 35px;
    line-height: 30px;
    color: #2B283A;
}
.text{
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #4A4E74;
}

main {
    background-color: #F5F5F5;
    height: 600px;
    width: 800px;
    border-radius: 5px;
    padding: 20px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.dice-container {
    display: grid;
    grid-template: auto auto / repeat(5, 1fr);
    gap: 20px;
    padding-top: 50px;
}

.die-face {
    height: 100px;
    width: 100px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: white;
}

.die-num {
    font-size: 2rem;
    color: #2B283A;
}
.btn{
    background-color: #5035FF;
    color: white;
    font-size: 25px;
    padding: 12px 41px;
    border-radius: 4px;
    width: 250px;
    border: none;
    font-family: 'Karla', sans-serif;
    cursor: pointer;
}
.btn:active {
    box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}